grupo,grupo_nome,codigo,titulo,ativo
ALFA,OCORRÊNCIA CONTRA PESSOAS,A-01,Lesão Corporal,1
ALFA,OCORRÊNCIA CONTRA PESSOAS,A-02,Ameaça,1
ALFA,OCORRÊNCIA CONTRA PESSOAS,A-03,Agressão,1
ALFA,OCORRÊNCIA CONTRA PESSOAS,A-04,Homicídio,1
ALFA,OCORRÊNCIA CONTRA PESSOAS,A-05,Feminicídio,1
ALFA,OCORRÊNCIA CONTRA PESSOAS,A-06,Tentativa de Homicídio,1
ALFA,OCORRÊNCIA CONTRA PESSOAS,A-07,Suicídio,1
ALFA,OCORRÊNCIA CONTRA PESSOAS,A-08,Tentativa de Suicídio,1
ALFA,OCORRÊNCIA CONTRA PESSOAS,A-09,Omissão de Socorro,1
ALFA,OCORRÊNCIA CONTRA PESSOAS,A-10,Periclitação da Vida,1
ALFA,OCORRÊNCIA CONTRA PESSOAS,A-11,Racismo/Homofobia,1
ALFA,OCORRÊNCIA CONTRA PESSOAS,A-12,Sequestro/Cárcere Privado,1
ALFA,OCORRÊNCIA CONTRA PESSOAS,A-13,Aborto,1
ALFA,OCORRÊNCIA CONTRA PESSOAS,A-14,Maus Tratos a Pessoa,1
ALFA,OCORRÊNCIA CONTRA PESSOAS,A-15,Pedofilia,1
ALFA,OCORRÊNCIA CONTRA PESSOAS,A-16,Bullying,1
ALFA,OCORRÊNCIA CONTRA PESSOAS,A-17,Desinteligência,1
ALFA,OCORRÊNCIA CONTRA PESSOAS,A-18,Violência Doméstica Contra a Mulher-Maria da Penha,1
